<div>
<form  action="/counter" method="POST">
<h1>Users Greeted</h1>
<ol>
{{#each usersGreeted }}
<li><a href="/counter/{{this.name}}" id="name"> {{this.name}}</a></li>
{{/each}}
</ol>
</form>
<a  class="nav" href="/">Back</a>
</div>
