<h1>Greeting In Three(3) Languages</h1>

<form action="/names" method="POST">
<p>{{error}}</p>
<input name="username" type="text"><br><br>
<input type="radio" name="language" value="Setswana"/><span>Setswana</span>
<input type="radio" name="language" value="Swahili"/><span>Swahili</span>
<input type="radio" name="language" value="IsiNdebele"/><span>IsiNdebele</span><br><br>
<button type="submit" name="button">greet</button>
<button type="submit" name="button">reset</button>
<p>{{greeting}}</p>
</form>