<h1>Greeting In Three(3) Languages</h1>
{{#if messages.error}}
<div class="error">
    <h1> {{messages.error}}</h1>
</div>
{{/if}}
<form action="/names" method="POST">
<input name="username" type="text"><br><br>
<input type="radio" name="language" value="Setswana"/><span>Setswana</span>
<input type="radio" name="language" value="Swahili"/><span>Swahili</span>
<input type="radio" name="language" value="IsiNdebele"/><span>IsiNdebele</span><br><br>
<button type="submit" name="button">greet</button>
<div><p>{{greeting}}</p>
<h2><span>Greeted: </span>{{count}}</h2>
</div>
</form>
