body{
    background-color: #235680;
}
.container{
width:80%;
margin:0 auto;
background: #B0D5D5;
font-family: calibri;
margin-top:20%;
padding:30px;
border-radius:15px;
font-family: monospace ;
color: rgba(0,0,0,0.65);
justify-content: center;
}

.nav {
margin-top:-70px;
text-decoration: none;
color:#E0F0ED;
background-color: #235680;
padding:4px;
margin-bottom:60px;

}

@media screen and (min-width:700px){

.container {width:40%;
margin-top:10%;
}

.inside{
margin-left:20%;
margin-right:20%;
}
}

h2{

margin-bottom:24px;
margin-top:15px;


}

.nameClass {
display:flex;
}

.nameField{

margin:10px;
height:30px;
width:200px;
max-height: 40px;
background-color: #E0F0ED;
border-radius: 3px;
border:none;
box-shadow: 0px 0px  1.5px 1.5px rgba(255,255,255,0.8);


}

.showCount{
margin-left:30px;
border-radius: 3px;
font-size:2.2em;
font-weight:bolder;
color: #235680;
font-family:courier;
margin-top: 5px;
}

.radioButtons,.buttons{
display: flex;
margin:10px;
}

button{
margin:10px;
color: white;
padding: 10px;
border: none;
margin-bottom:15px;
border-radius: 5px;

}

.submit {
background-color: #235680;
box-shadow: 0px 0px  1.5px 1.5px rgba(0,0,255,0.3);
padding: 5.3%;
width:90px;

}

.reset {
background-color: #E0F0ED;
color:#235680;
box-shadow: 0px 0px  1.5px 1.5px rgba(255,255,255,0.8);
width:90px;
}

.message{

margin:10px;
padding-bottom:30px;
font-size:1.5em;
margin-top:10px;

}

.error{
color: red;
font-size: 5px;
border: 1px solid red;
background-color: rgba(255,0,14,0.2);
width: 70%;
padding-left:5px;
margin-bottom:30px;

}

